<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="RestauranteEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LC1301323;initial catalog=Restaurante;user id=sa;password=Duocadmin2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RestauranteEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRISTOPHER\CRISTOPHER;initial catalog=Restaurante;user id=sa;password=abcABC123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewWebServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.20.66.109:8080/Examen/NewWebService"
        binding="basicHttpBinding" bindingConfiguration="NewWebServicePortBinding"
        contract="Service_Venta_BackUp.NewWebService" name="NewWebServicePort" />
    </client>
  </system.serviceModel>
</configuration>